

<ion-content color="dark">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Peliculas Nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>


  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-show-poster [peliculas]="peliculasRecientes"></app-slides-show-poster>


  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pares [peliculas]="populares" (cargarMas)="cargarMas()"></app-slideshow-pares>


  <!-- <ion-slides [options]="slideOpts" >
    <ion-slide *ngFor="let pelicula of peliculasRecientes">
  
      <ion-card>
        <ion-img [src]="pelicula.backdrop_path | imagen"></ion-img>
      </ion-card>
  
  
    </ion-slide>  
  </ion-slides>
   -->
  

  
  
</ion-content>
